*~
a
a.c
a.c.lst
/a.out
a.plc
B-C-*.tar.gz
blib
*.bs
ByteLoader/ByteLoader.c
ByteLoader/byterun.*
/*.c
C.bs
C.c
cccode*
ccode*
*.c.lst
C.o
.commit
cover_db/*
.DS_Store
/foo.*
/foo*
fullog.txt
.gdb_history
/Io_argv*
lib/B/Asmdata.pm
lib/B/C/Flags.pm
*.log
log.critical-*
log.do-*
log.*.err
log.make-*
log.test-*
Makefile
Makefile.old
MANIFEST.bak
MANIFEST.files
MYMETA.json
MYMETA.yml
nohup.out
nytprof/
nytprof.out
*.o
/parse*
*.patch
pcc*
pm_to_blib
.prove
ramblings/cplight/
ramblings/cp_light.pod
ramblings/cpmeet1/
ramblings/cp_meet1.pod
ramblings/cp_meet201110_compiler.tar.gz
ramblings/frozenperl2010/
ramblings/How-perl-compiles-subs-and-methods.md
ramblings/mk-sl*
ramblings/yapceu2010/
/results.xml
script/perlcc
Stash/Stash.c
status.1*
*.swp
TAGS
t/*/*/*/*.bin
t/*/*/*/*.c
t/*.c
/test*
/*.tmp
/tmp*
t/reports
t/*/*/*/*.subtest.*
t/test-*.sh
/t/testsuite/t/.gdbinit
/t/testsuite/C-COMPILED/*.bak
/t/testsuite/C-COMPILED/bctestc/*.c
/t/testsuite/C-COMPILED/bctestc/*.pl
/t/testsuite/C-COMPILED/*.dir
/t/testsuite/C-COMPILED/*.pag
/t/testsuite/C-COMPILED/xtestc/*.c
/t/testsuite/C-COMPILED/xtestc/*.pl
/t/testsuite/t/0
/t/testsuite/t/bin*
/t/testsuite/t/bleah.do
/t/testsuite/t/bleah.pm
/t/testsuite/t/.dir
/t/testsuite/t/*.flg
/t/testsuite/t/.pag
/t/testsuite/t/*.pmc
/t/testsuite/t/*/*.subtest.*
/t/testsuite/t/txt*
/t/testsuite/t/urkkk.pm
/t/testsuite/t/utf*
x*.p
src/TAP-Formatter-JUnit-*
src/Module-Build-*/
src/inc-latest-*/
src/App-cpanminus-*/
src/Test-Simple-*/
known_errors_delta.txt
/9
